.tag {
  width: fit-content;
  height: 21px;
  margin-right: 10px;
  padding: 0 10px;
  font-family: Poppins, sans-serif;
  line-height: 25px;
  font-size: 10px;
  display: flex;
  align-items: center;
  background: #898d96 0% 0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 1;
  letter-spacing: 0.5px;
  color: #000;
  opacity: 0.45;
}

.tag p {
  margin: 0;
}

.tag:last-child {
  margin-right: 0;
}
