.tag {
    width: fit-content;
    height: 21px;
    color: #000000;
    margin-right: 10px;
    padding: 0 10px;
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    background: #898D96 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
}

.tag p {
    margin: 0;
}

.tag:last-child {
    margin-right: 0;
}