.span {

	letter-spacing: 0.8px;

	font-family: 'Poppins', sans-serif;
}

.red {
	color: var(--red);
}

.primary {
	color: var(--primary);
}

.yellow {
	color: rgb(254 220 48);
}

.l {
	font-size: 20px;
}

.m {
	font-size: 16px;
}

.sm {
	font-size: 12px;
}

.iconWrapper {
	position: relative;
	top: 3px;
	display: inline-block;

	width: 19px;
	height: 19px;
}