.wrapper {
	display: flex;
	overflow: scroll;
	flex-direction: column;

	width: 300px;
	height: 335px;

	border: 1px solid white;
	border-radius: 22px;
	background: rgb(40 40 41);
}

.imageWrapper {
	overflow: hidden;

	height: 200px;

	border-radius: 22px;
}

.errorImage {
	width: 100%;
	height: 100%;

	background-color: black;
}

.title {
	margin-top: 0;
	margin-bottom: 11px;

	color: white;

	font-family: sans-serif;
	font-size: 18px;
}

.infoWrapper {
	padding-top: 17px;
	padding-right: 22px;
	padding-bottom: 15px;
	padding-left: 20px;
}

.priceAndTime {
	display: flex;
	justify-content: space-between;
}

.priceInfo {
	display: flex;
	justify-content: space-between;
}

.time {
	width: fit-content;
	margin: 0;

	color: rgb(255 24 84);

	font-family: sans-serif;
	font-size: 17px;
	font-weight: 900;
}

.usernameAndViews {
	display: flex;
	justify-content: space-between;

	margin-top: 10px;
	margin-bottom: 4px;
}

.username {
	margin: 0;

	color: white;

	font-family: sans-serif;
	font-size: 12px;
}

.views {
	margin: 0;

	color: white;
	color: rgb(137 141 150);

	font-family: sans-serif;
	font-size: 12px;
	font-style: italic;
}

.codeAndTag {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	margin-top: 7px;
}

.code {
	margin: 0;

	color: rgb(137 141 150);

	font-family: sans-serif;
	font-size: 14px;
	font-style: italic;
}