.pageContainer {
	display: flex;
	justify-content: center;
}

.contentWrapper {
	width: 90%;
	max-width: 1400px;
	padding-bottom: 40px;

	color: var(--white);

	font-family: 'Poppins', sans-serif;
}

.pageTitle {
	margin-top: 41px;
	margin-bottom: 22px;

	text-align: center;

	font-size: 36px;
	font-weight: bold;
}

.pageDescription {
	margin-bottom: 40px;

	text-align: center;
	letter-spacing: 0.02px;

	color: var(--light-grey);

	font-size: 18px;
}

.selectsWrapper {
	display: flex;
	justify-content: center;

	margin-bottom: 40px;
}

.tableHead {
	display: flex;
	justify-content: space-between;

	padding: 40px;

	border-top: 1px solid var(--dark-grey);
	border-bottom: 1px solid var(--dark-grey);
}

.collectionName,
.notCollectionName {
	overflow: hidden;

	white-space: nowrap;
	letter-spacing: 0.02px;
	text-overflow: clip;

	color: var(--white);

	font-size: 18px;
	font-weight: 600;
}

.collectionName {
	width: 33%;

	text-align: left;
}

.notCollectionName {
	width: 100px;

	text-align: right;
}

.empty {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 337px;
	margin-top: 40px;

	letter-spacing: 0.02px;

	color: #FFFFFF;
	border: 1px solid var(--dark-grey);
	border-radius: 30px;

	font-size: 24px;
}

.paginationButtons {
	display: flex;
	justify-content: center;

	margin-top: 40px;

	cursor: pointer;

	div {
		width: 120px;
		padding: 16px;

		text-align: center;

		border: 1px solid var(--primary);
		border-right: none;

		font-size: 16px;
	}

	div:first-child {
		border-radius: 8px 0 0 8px;
	}

	div:last-child {
		border-right: 1px solid var(--primary);
		border-radius: 0 8px 8px 0;
	}
}

.choosenPagination {
	background-color: var(--primary);
}
