.wrapper {
	z-index: 2;
	top: 75%;
	left: 16%;

	width: 105px;

	color: var(--light-grey);
	border-radius: 8px;
	background: #1D1D1D 0% 0% no-repeat padding-box;

	div:first-child {
		border-bottom: 1px solid var(--dark-grey);
	}

	div {
		padding: 8px;
	}
}

.active {
	color: var(--purple);
}