.topPartWrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 154px;
}

.title {
	margin-right: 1.5%;

	text-align: left;
	letter-spacing: 0px;

	color: var(--white);

	font-family: "Poppins", sans-serif;
	font-size: 36px;
	font-weight: 800;
}

.filters {
	display: flex;
	align-items: center;

	width: 34.3%;
	height: fit-content;
	margin-right: 0.83%;
}

.cursorPointer {
	cursor: pointer;
}

.centralFilter {
	margin: 0 4%;
}

.collectorsWrapper {
	display: flex;

	margin-top: 86px;
	padding: 0 6.2%;
}

.centralColumn {
	width: calc(33% + 56px);
}