.wrapper {
	position: absolute;
	z-index: 10;

	width: 640px;
	padding: 16px;

	background-color: var(--dark-grey);
}

.title {
	display: flex;
	justify-content: space-between;

	margin-bottom: 16px;
}

.dateTextFieldsWrapper, .timePickersWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	margin: 24px 0;
}

.timePickersWrapper {
	margin: 0px;
}

.leftTextField, .rightTextField, .timePicker {
	min-width: 48%;
}