.wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.clearAll {
	display: flex;
	align-items: center;

	height: 100%;
	margin: 0 8px;
	margin-bottom: 20px;

	cursor: pointer;
	letter-spacing: 0.01px;

	color: var(--primary);

	font-family: "Poppins", sans-serif;
	font-size: 16px;
}
