.wrapper {
	display: flex;
	align-items: center;

	width: fit-content;

	letter-spacing: 0.8px;

	opacity: 1;
	color: #64FF8E;

	font-family: Poppins, sans-serif;
	font-size: 16px;
}

.wrapper span {
	margin-left: 6px;
}

.down {
	color: var(--red);
}
