.wrapper:hover {
  background-color: var(--shadow);
}

.wrapper {
  border: 1px solid var(--shadow);
  border-radius: 9px;
  cursor: pointer;
  height: 31px;
  width: 31px;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 2px;
  }

  li {
    padding: 0;
    list-style-type: none;
    line-height: 2px;
    padding-bottom: 4px;
  }
}
