.wrapper:hover {
	background-color: var(--light-grey);
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 31px;
	height: 31px;

	cursor: pointer;

	border: 1px solid var(--light-grey);
	border-radius: 9px;
	background-color: rgba(128, 128, 128, 0.44);

	ul {
		position: relative;
		bottom: 2px;

		margin: 0;
		padding: 0;
	}

	li {
		padding: 0;
		padding-bottom: 4px;

		list-style-type: none;

		line-height: 2px;
	}
}
