.author {
    font-size: 12px;
    line-height: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.6px;
    opacity: 1;
    display: flex;
}

.author p {
    margin: 0;
}

.icon {
    position: relative;
    top: 3px;
}

.lightblue {
    color: #00EAF4;
}

.white {
    color: #FFF;
}