.wrapper {
  border: 1px solid #ffffff4d;
  height: 55px;
  width: 54%;
  color: var(--light-grey);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.01px;
}
