.wrapper {
  width: 100%;
  aspect-ratio: 1/ 0.25;
  padding: 90px 3.28%;
  display: flex;
  background-color: var(--dark-grey);
  position: relative;
  font-size: "Poppins", sans-serif;
}

.gradient {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
}

.profileImageWrapper {
  border: 1px solid var(--primary);
  border-radius: 50%;
  width: 15.5%;
  aspect-ratio: 1 / 1.035;
  position: relative;
  overflow: hidden;
  height: fit-content;
}

.spinner {
  position: relative;
  left: 50%;
  top: 50%;

  width: fit-content;
  padding: 20px;

  transform: translate(-50%, -50%);
}

.middleSection {
  position: relative;
  margin-left: 3.8%;
  z-index: 11;
  width: 40.1%;
}

.account {
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.01px;
  color: var(--light-grey);
}

.username {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  font-size: 48px;
  color: var(--white);
}

.bio {
  font-size: 14px;
  letter-spacing: 0.01px;
  color: var(--light-grey);
  max-height: 81px;
  overflow-y: scroll;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--light-grey);
}

.midlleSectionBottom {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.midlleSectionBottom > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataWithIcon span {
  margin-left: 8px;
}

.middleSectionBottomNumbers {
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  color: var(--white);
}

.middleSectionBottomDescription {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.01px;

  color: var(--white);
}

.rightSection {
  position: relative;
  margin-left: 3.8%;
  z-index: 11;
  width: 37%;
}

.actionsTitle {
  font-size: 14px;
  letter-spacing: 0.01px;
  color: var(--white);
  margin-bottom: 9px;
}

.buttonsWrapper {
  display: flex;
}

.buttonsWrapper > div:first-child {
  margin-right: 16px;
}

.chart {
  margin-top: 21px;
}
