.wrapper {
  display: flex;
}

.sidebar {
  width: 40%;
  max-width: 440px;

  border-right: 1px solid var(--dark-grey);
  border-bottom: 1px solid var(--dark-grey);
}

.sidebarRow {
  display: flex;
  align-items: center;

  padding: 27px 40px;

  border-bottom: 1px solid var(--dark-grey);
}

.sidebarRow:first-child {
  border-top: 1px solid var(--dark-grey);
}

.sidebarIconWrapper {
  position: relative;

  width: 19px;
  height: 19px;
  margin-right: 12px;

  cursor: pointer;
  fill: white;
}

.sidebarText {
  cursor: pointer;
  letter-spacing: 0.02px;

  color: var(--white);

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.sidebarActiveRow .sidebarText, .sidebarActiveRow svg g g {
  stroke: var(--purple);
  color: var(--purple);
}

.contentWrapper {
  width: 55%;
  max-width: 560px;
  padding-left: 40px;
}

.title {
  padding: 48px 40px 40px 0px;

  letter-spacing: 0px;

  color: #ffffff;

  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.imageFieldWrapper {
  margin-bottom: 24px;
}

.imageTitle {
  margin-bottom: 8px;

  letter-spacing: 0.01px;

  color: #ffffff;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.imageButtonsWrapper {
  display: flex;
}

.profileImage {
  position: relative;

  overflow: hidden;

  width: 28.57%;
  margin-right: 7.14%;

  border: 1px solid var(--shadow);
  aspect-ratio: 1 / 1;
}

.imageRounded {
  border-radius: 50%;
}

.imageSquare {
  border-radius: 16px;
}

.profileImageButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 64%;
}

.imageButton {
  width: 100%;
  margin: 8px 0;
}

.textField {
  margin-bottom: 24px;
  position: relative;
}

.textFieldTitle {
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.01px;
  color: var(--white);
}

.textFieldWithAdornment {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.websiteImageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.websiteImageContainer {
  border: 1px solid var(--shadow);
  border-right: 0;
  position: relative;
  height: 56px;
  box-sizing: border-box;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.websiteImageContainer:first-child {
  border-top: 1px solid var(--shadow);
}

.tooltip {
  position: absolute;
  left: 50%;
  top: 140%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  border-radius: 7px;
  background-color: var(--light-grey);
  color: var(--white);
}

.button {
  margin-top: 40px;
  width: fit-content;
}
