.wrapper {
  display: flex;

  margin-top: 151px;
  padding: 0 6.2%;
}

.textWrapper {
  width: 24.9%;
  margin-top: 74px;
  margin-left: 9.3%;
}

.videoImage {
  width: 57.55%;
  position: relative;
}

.image {
	width: 100%;
	aspect-ratio: 1 / 0.57;
	position: relative;

}

.title {
  letter-spacing: 0px;

  color: var(--white);

  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 800;
}

.text {
  margin-top: 39px;

  letter-spacing: 0px;

  color: var(--white);

  font-family: "Nimbus Sans", sans-serif;
  font-size: 18px;
}

.button {
  display: flex;
  justify-content: center;

  margin-top: 75px;
}

@media  screen and (max-width: 1375px) {
	.textWrapper {
		margin-top: 0;
	}
}
