.section {
  padding: 0 24px;
  border-bottom: 1px solid var(--dark-grey);
}

.fieldsWrapper {
  width: 100%;
}

.cross {
    margin-left: auto;
}

.titles {
  display: flex;
}

.titles > div:first-child {
  width: calc(40% + 16px);
}

.row {
  display: flex;
}

.select {
  width: 45%;
  display: flex;
  margin-top: 16px;
}

.of {
  width: 42px;
  border-top: 1px solid #ffffff4d;
  border-bottom: 1px solid #ffffff4d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: var(--light-grey);
}

.crossBox {
    margin-top: 16px;
    width: 56px;
    height: 56px;
    border: 1px solid #FFFFFF4D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.addMoreButton {
    margin-top: 16px;
    margin-bottom: 24px;
}

.footer button {
    display: flex; 
    margin: 24px 24px 24px auto;
}