.pageContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.wrapper {
  width: 95%;
  max-width: 1147px;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  display: flex;
  justify-content: space-between;
}

.leftSide {
  width: 55.8%;
  max-width: 640px;
}

.rightSide {
  width: 37.3%;
  max-width: 428px;
}
