.wrapper {
	display: flex;   
	overflow: hidden;
	flex-direction: column;

	width: 246px;
	min-width: 246px;
	height: 412px;

	border: 1px solid var(--primary);
	border-radius: 30px;
	background: var(--dark-grey) 0% 0% no-repeat padding-box;
}

.imageWrapper {
	position: relative;

	overflow: hidden;

	height: 231px;

	border-radius: 30px;
}

.errorImage {
	width: 100%;
	height: 100%;

	background-color: black;
}

.title {
	margin-top: 0;
	margin-bottom: 8px;

	letter-spacing: 0.9px;

	color: #FFF;

	font-family: Poppins, sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 23px;
}

.infoWrapper {
	padding-top: 24px;
	padding-right: 20px;
	padding-bottom: 19px;
	padding-left: 20px;
}

.priceInfo {
	display: flex;
	justify-content: space-between;

	line-height: 33px;
}

.username {
	margin-top: 23px;
	margin-bottom: 2px;

	color: rgb(0 234 244);

	font-family: sans-serif;
	font-size: 14px;
}

.codeAndTag {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	margin-top: 5px;
}

.code {
	margin: 0;

	color: rgb(137 141 150);

	font-family: sans-serif;
	font-size: 14px;
}