.wrapper {
  width: 100%;
  background-color: var(--dark-grey);

  border: 1px solid #ffffff33;
  border-radius: 24px;
  overflow: hidden;
}

.sectionHeader {
  height: 68px;
  border-bottom: 1px solid #ffffff33;
  border-top: 1px solid #ffffff33;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.01px;
  color: var(--white);
  padding: 0 24px;
}

.sectionHeader span {
  margin-left: 12px;
}

.sectionHeader div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sectionHeader:first-child {
  border-top: none;
}

.section {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  letter-spacing: 0.02px;
  color: var(--light-grey);
  padding: 16px 25px;
  overflow: hidden;
  height: fit-content;
  transition: max-height 0.2s ease-in;
  max-height: 1000px;
}

.propertiesWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 7px 16px;
}

.propertiesClosed {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  background: none;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  transition: padding 0.2s ease-out;
}

.ownedBy {
  margin-bottom: 8px;
}

.link {
  color: var(--primary);
  cursor: pointer;
}

.propertyWrapper {
  width: 29%;
  height: 95px;
  overflow: hidden;
  white-space: nowrap;
  background: #617bff1a 0% 0% no-repeat padding-box;
  border: 1px solid var(--primary);
  border-radius: 16px;
  padding: 12px;
  margin: 9px 2%;
  text-align: center;
}

.propertyWrapper div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.propertyType {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 0.01px;
  color: var(--primary);
}

.propertyValue {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.01px;
  color: #ffffff;
}

.propertyPercent {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 0.01px;
  color: var(--light-grey);
}

.emptySection {
  color: var(--light-grey);
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

@media screen and (max-width: 1450px) {
  .propertyWrapper {
    width: 45%;
  }
}