.wrapper {
	overflow: hidden;

	width: 100%;

	border: 1px solid #FFFFFF33;
	border-radius: 24px;
	background-color: var(--dark-grey);
}

.sectionHeader {
	display: flex;
	align-items: center;

	height: 68px;
	padding: 0 24px;

	letter-spacing: 0.01px;

	color: var(--white);
	border-top: 1px solid #FFFFFF33;
	border-bottom: 1px solid #FFFFFF33;

	font-size: 18px;
	font-weight: 600;
}

.sectionHeader span {
	margin-left: 12px;
}

.sectionHeader div {
	display: flex;
	justify-content: space-between;

	width: 100%;
}

.sectionHeader:first-child {
	border-top: none;
}

.section {
	overflow: hidden;

	height: fit-content;
	max-height: 1000px;
	padding: 16px 25px;

	transition: max-height 0.2s ease-in;
	letter-spacing: 0.02px;

	color: var(--light-grey);

	font-size: 18px;
}

.propertiesWrapper {
	display: flex;
	flex-wrap: wrap;

	padding: 7px 16px;
}

.propertiesClosed {
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;

	transition: max-height 0.2s ease-out;
	transition: padding 0.2s ease-out;

	border: none;
	background: none;
}

.ownedBy {
	margin-bottom: 8px;
}

.link {
	cursor: pointer;

	color: var(--primary);
}

.propertyWrapper {
	overflow: hidden;

	width: 29%;
	height: 95px;
	margin: 9px 2%;
	padding: 12px;

	text-align: center;
	white-space: nowrap;

	border: 1px solid var(--primary);
	border-radius: 16px;
	background: #617BFF1A 0% 0% no-repeat padding-box;
}

.propertyWrapper div {
	overflow: hidden;

	text-overflow: ellipsis;
}

.propertyType {
	letter-spacing: 0.01px;

	color: var(--primary);

	font-size: 14px;
}

.propertyValue {
	letter-spacing: 0.01px;

	color: #FFFFFF;

	font-size: 16px;
	font-weight: 600;
}

.propertyPercent {
	letter-spacing: 0.01px;

	color: var(--light-grey);

	font-size: 14px;
}

.emptySection {
	width: 100%;
	margin: 20px 0;

	text-align: center;

	color: var(--light-grey);

	font-size: 18px;
}

@media screen and (max-width: 1450px) {
	.propertyWrapper {
		width: 45%;
	}
}