.wrapper {
	padding: 140px 0 0;
}

.titleFilterButtonWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 68px;
	padding: 0 calc(18px + 5.2%);
}

.topElement {
	display: flex;
	justify-content: center;

	width: 343px;
}

.topElement:first-child {
	justify-content: flex-start;
}

.topElement:last-child {
	justify-content: flex-end;
}

.title {
	margin: 0;

	letter-spacing: 0px;

	color: #FFFFFF;

	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	font-weight: 800;
}
