.wrapper {
	position: relative;

	padding: 137px 6.2% 48px;

	background-color: var(--black);
}

.collections {
	display: flex;
	justify-content: space-between;
	margin-bottom: 215px;
}

.autcionTitleAndButtonwrapper {
	position: relative;

	display: flex;
	justify-content: space-between;

	margin-top: 215px;
}

.auctionTitle {
	margin: 0;

	letter-spacing: 0px;

	color: var(--white);

	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	font-weight: 800;
}


@media screen and (max-width: 1500px) {
	.collections {
		margin-bottom: 120px;
	}
}