.wrapper {
    position: relative;
    width: 239px;
    height: 148px;
    overflow: hidden;
    background: transparent linear-gradient(180deg, #0000 0%, #0000 56%, #000 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 20px #00000084;
    border: 1px solid #617BFF;
    border-radius: 30px;
}

.errorImage {
    background-color: black;
    height: 100%;
    width: 100%;
}

.text {
    color: white;
    position: absolute;
    margin: 0;
    bottom: 15px;
    left: 21px;
    font-size: 22px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: 0;
    color: #FFF;
    opacity: 1;
}