.ribbon {
    position: absolute;
    text-transform: uppercase;
    top: 40px;
    width: 100px;
    height: 33px;
    color: black;
    text-align: center;
    line-height: 33px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
}

.ribbon::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0%; 
    left: 100%;
    border: 1px solid transparent;
    border-bottom: 24px solid transparent;
    border-right: 17px solid tranaparent;
}
  
.ribbon::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0%; 
    left: 70%;
    z-index: 100;
    border: 2px solid transparent;
    border-top: 15px solid transparent;
    border-right: 16px solid transparent;
    border-left: 35px solid transparent;
}

.rare {
    background: rgb(255 129 77);
}

.rare::after {
    border-top: 2px solid rgb(255 129 77);
    border-left: 20px solid rgb(255 129 77);
}

.rare::before {
    border-bottom: 18px solid rgb(255 129 77);
}

.common {
    background: rgb(137 141 150);
}

.common::after {
    border-top: 2px solid rgb(137 141 150);
    border-left: 20px solid rgb(137 141 150);
}

.common::before {
    border-bottom: 18px solid rgb(137 141 150);
}

.uncmn {
    background: rgb(63 130 251);
}

.uncmn::after {
    border-top: 2px solid rgb(63 130 251);
    border-left: 20px solid rgb(63 130 251);
}

.uncmn::before {
    border-bottom: 18px solid rgb(63 130 251);
}

.uRare {
    background: rgb(181 65 250);
}

.uRare::after {
    border-top: 2px solid rgb(181 65 250);
    border-left: 20px solid rgb(181 65 250);
}

.uRare::before {
    border-bottom: 18px solid rgb(181 65 250);
}