.pageWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contentWrapper {
  width: 100%;
  max-width: 840px;
}

.mainTitle {
  margin: 40px 0;

  letter-spacing: 0px;

  color: var(--white);

  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.title,
.boldTitle {
  margin-bottom: 4px;

  letter-spacing: 0.01px;

  color: var(--white);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.name {
  margin-bottom: 16px;
}

.boldTitle {
  letter-spacing: 0.02px;

  font-size: 16px;
  font-weight: 600;
}

.star {
  color: var(--red);
}

.description {
  margin-bottom: 16px;

  letter-spacing: 0.01px;

  color: var(--light-grey);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.uploadFileWrapper {
	display: flex;
	margin-bottom: 24px;
}

.dragPlaceholder {
  position: relative;

  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 400px;

  border: 1px dashed var(--shadow);
  border-radius: 30px;
}

.imageWrapper {
  position: relative;

  width: 100%;
  height: fit-content;
}

.dragPlaceholder:hover {
  background-color: var(--dark-grey);
}

.audio {
  position: absolute;
}

.video {
  position: absolute;

  width: 90%;
}

.uploadFileInput {
  width: 100%;
  height: 100%;
  position: absolute;

  opacity: 0;
}

.uploadButtonsWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: calc(95% - 400px);
	margin-left: 5%;
}

.uploadButton {
	margin-bottom: 16px;
}

.section {
  margin-bottom: 24px;

  color: white;
}

.sectionWithBigMarginBottom {
  margin-bottom: 0;
  padding-bottom: 24px;

  border-bottom: 1px solid var(--dark-grey);
}

.externalLinkSection {
  margin-bottom: 24px;

  color: white;
}

.descriptionSection {
  margin-bottom: 24px;

  color: white;
}

.underlinedSection {
  padding: 21px 0;

  border-bottom: 1px solid var(--dark-grey);
}

.underlinedSection > div:first-child {
  display: flex;
}

.unlockableDisplayed {
  display: block;

  margin-top: 24px;
}

.unlockableAbsent {
  display: none;
}

.sectionWithMarginTop {
  margin-top: 24px;
}

.underlinedSection .description {
  margin-bottom: 0;
}

.fieldIcon {
  position: relative;

  width: 19px;

  height: 19px;
  margin-right: 12px;
}

.propertiesWrapper {
  display: flex;
  flex-wrap: wrap;
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 42px;
  margin-left: auto;

  cursor: pointer;

  color: var(--primary);
  border-radius: 9px;
  background-color: var(--dark-grey);

  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 200;
}

.switch {
  margin-left: auto;
}

.button {
  width: fit-content;
  margin: 40px auto 160px 0;
}
