.pageWrapper {
  border-top: 1px solid var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper {
  max-width: 840px;
  width: 100%;
}

.mainTitle {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0px;
  color: var(--white);
  margin: 40px 0;
}

.title,
.boldTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.01px;
  color: var(--white);
  margin-bottom: 4px;
}

.name {
  margin-bottom: 16px;
}

.boldTitle {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02px;
}

.star {
  color: var(--red);
}

.description {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 0.01px;
  color: var(--light-grey);
  margin-bottom: 16px;
}

.dragPlaceholder {
  border: 1px dashed #ffffff4d;
  position: relative;
  border-radius: 30px;
  width: 100%;
  max-width: 400px;
  height: 200px;
  margin-bottom: 24px;
  background-image: url('../../../public/create-nft/Icon-Image.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.uploadFileInput{
  height: 100%;
  width: 100%;
}

.section {
  color: white;
  margin-bottom: 24px;
}

.sectionWithBigMarginBottom
{
  margin-bottom: 0;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--dark-grey);

}

.externalLinkSection {
  color: white;
  margin-bottom: 24px;
}

.descriptionSection {
  color: white;
  margin-bottom: 24px;
}

.underlinedSection {
  display: flex;
  border-bottom: 1px solid var(--dark-grey);
  padding: 21px 0;
}

.sectionWithMarginTop {
  margin-top: 24px;
}

.underlinedSection .description {
  margin-bottom: 0;
}

.fieldIcon {
  position: relative;

  height: 19px;
  width: 19px;
  margin-right: 12px;
}

.plus {
  color: var(--primary);
  height: 42px;
  width: 42px;
  background-color: var(--dark-grey);
  font-size: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  border-radius: 9px;
  margin-left: auto;
  cursor: pointer;
}

.switch {
  margin-left: auto;
}

.button {
  margin: 40px auto 160px 0;
}
