.wrapper {
	margin-top: 173px;
}

.title {
	text-align: center;
	letter-spacing: 0px;

	color: #FFFFFF;

	font-family: "Poppins", sans-serif;
	font-size: 36px;
	font-weight: 800;
}

.categoriesWrapper {
	display: flex;
	justify-content: space-between;

	margin-top: 100px;
	padding: 0 6.2%;
}

.category {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 18.7%;
}

.imageWrapper {
	display: flex;
	align-items: center;

	height: 70px;
}

.categoryTitleTextWrapper {
	overflow: scroll;

	height: 170px;
	margin-top: 60px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.categoryTitleTextWrapper::-webkit-scrollbar {
	display: none;
}

.categoryTitle {
	text-align: center;
	letter-spacing: 0px;

	color: #FFFFFF;

	font-family: "Poppins", sans-serif;
	font-size: 28px;
	font-weight: 800;
}

.categoryText {
	text-align: center;
	letter-spacing: 0px;

	color: #FFFFFF;

	font-family: "Nimbus Sans", sans-serif;
	font-size: 18px;
}
