.leftSideTitle {
	padding: 40px 0;

	border-bottom: 1px solid var(--dark-grey);

	font-size: 36px;
	font-weight: bold;
}

.addToken {
	width: fit-content;
	padding: 24px 0;

	border-bottom: 1px solid var(--dark-grey);
}

.completeListing {
	width: fit-content;
	padding: 40px 0;
}