.leftSideTitle {
  font-weight: bold;
  font-size: 36px;
  padding: 40px 0;
  border-bottom: 1px solid var(--dark-grey);
}

.addToken {
  padding: 24px 0;
  border-bottom: 1px solid var(--dark-grey);
}

.completeListing {
  padding: 40px 0;
}