.textfields {
	display: flex;

	margin-top: 16px;
}

.between {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 35px;

	color: var(--shadow);
}

.button {
	width: fit-content;
	margin-top: 16px;
}