.rightSideTitle {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.02px;
  margin-top: 66px;
}

.tokenPreview {
}

.tokenListedHead {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  font-size: 18px;
  font-weight: bold;

  span:last-child {
    cursor: pointer;
  }
}

.closed {
  display: none;
}

.asBundleSquareCard {
  margin-top: 24px;
  margin-bottom: 40px;
}

.itemQuantity {
  font-size: 18px;
  font-weight: bold;
}
