.span {
    font-family: sans-serif;
}

.red {
    color: rgb(222, 7, 43);
}

.primary {
    color: #6478fb;
}

.yellow {
    color: rgb(254, 220, 48);
}

.m {
    font-size: 16px;
}

.sm {
    font-size: 17px;
}