.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	margin: 40px 0;

	background: var(--black) 0% 0% no-repeat padding-box;
}

.title {
	letter-spacing: 0;

	opacity: 1;
	color: var(--white);

	font-family: "Poppins", sans-serif;
	font-size: 36px;
	font-weight: bold;
}

.prompt {
	margin-bottom: 40px;

	letter-spacing: 0.02px;

	color: var(--light-grey);

	font-family: "Poppins", sans-serif;
	font-size: 18px;
}

.chooseWalletWrapper {
	width: 760px;
}

.walletLink {
	cursor: pointer;

	color: var(--purple);

	font-weight: 600
}

.wallet {
	display: flex;
	align-items: center;

	padding: 22px 24px;

	cursor: pointer;

	border: 1px solid var(--dark-grey);
}

.choosenWallet {
	background: var(--dark-grey);
}

.wallet:first-child {
	border-radius: 16px 16px 0 0;
}

.walletName,
.moreOptionsText {
	margin: 0 0 0 16px;

	letter-spacing: 0;

	color: var(--white);

	font-family: "Poppins", sans-serif;
	font-size: 22px;
	font-weight: bold;
}

.popular {
	margin: 0 0 0 auto;

	letter-spacing: 0.02px;

	color: var(--light-grey);

	font-family: "Poppins", sans-serif;
	font-size: 18px;
}

.moreOptionsWrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 81px;

	cursor: pointer;

	border: 1px solid var(--light-grey);
	border-radius: 0 0 16px 16px;
}
