.wallet {
  display: flex;
  align-items: center;
  padding: 22px 24px;
  border: 1px solid #282829;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
}

.wallet:hover {
  background: #282829;
}

.wallet[disabled] {
  cursor: default;
  opacity: 0.33;
}

.wallet:first-child {
  border-radius: 16px 16px 0 0;
}

.wallet:last-child {
  border-radius: 0 0 16px 16px;
}

.walletName,
.moreOptionsText {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 0 0 0 16px;
  letter-spacing: 0;
  color: #fff;
}

.popular {
  margin: 0 0 0 auto;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.02px;
  color: #898d96;
}
