.wrapper {
	padding: 0 5.2%;
}

.title {
	margin-bottom: 36px;

	text-align: center;
	letter-spacing: 0px;

	color: #FFFFFF;

	font: normal normal 800 22px/33px Poppins;
}

.wallets {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.item {
	display: flex;
	flex-direction: column;

	width: 165px;

	cursor: pointer;
	text-align: center;
	letter-spacing: 0.9px;

	color: #FFFFFF;

	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 600;
}
