.wrapper {
	position: relative;
	z-index: 5;

	display: flex;
	overflow: hidden;
	align-items: flex-end;

	width: 48.12%;

	border: 1px solid var(--primary);
	border-radius: 30px;
	box-shadow: 0 3px 20px #00000084;
	aspect-ratio: 1 / 0.616;
}

.errorImage {
	position: absolute;
	z-index: 1;

	width: 100%;
	height: 100%;

	background-color: var(--black);
}

.forGradient {
	position: absolute;

	width: 100%;
	height: 100%;

	background: transparent linear-gradient(180deg, #00000000 0%, #00000000 56%, #000000 100%) 0% 0% no-repeat padding-box;
}

.infoWrapper {
	position: inherit;
	z-index: 10;

	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	width: 100%;
	padding-right: 40PX;
	padding-bottom: 28PX;
	padding-left: 48px;

	opacity: 1;
}

.categoryName {
	margin-bottom: 11px;

	text-align: left;
	letter-spacing: 0.9px;
	text-transform: uppercase;

	color: var(--white);
	color: var(--white);

	font-family: sans-serif;
	font-family: Poppins, sans-serif;
	font-size: 16px;
	font-size: 18px;
	font-weight: bold;
	font-weight: 600;
	line-height: 23px;
}

.title {
	margin: 0;

	letter-spacing: 68px;
	letter-spacing: 0;

	opacity: 1;
	color: var(--white);
	color: var(--white);

	font-family: Poppins, sans-serif;
	font-size: 45px;
	font-weight: bold;
}

@media screen and (max-width: 1375px) {
	.title {
		font-size: 35px;
	}
}