.navigationBar {
  padding: 29px 2%;
  background-color: #212020;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.01px;
}

.navigationArrow {
  transform: rotate(-90deg);
  width: fit-content;
  height: fit-content;
  margin-right: 8px;
}

.navigationItem {
  display: flex;
  color: var(--light-grey);

  span {
    cursor: pointer;
  }
}

.navigationItem:last-child {
  color: var(--white);
  .navigationArrow {
    display: none;
  }
}

.pageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 2% 86px;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 800px;
}

.pageTitle {
  font-weight: bold;
  font-size: 36px;
  color: var(--white);
}

.title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.01px;
  color: var(--white);
  margin-top: 24px;
  margin-bottom: 8px;
}

.description {
  margin-top: 4px;
  font-size: 16px;
  letter-spacing: 0.01px;
  color: var(--light-grey);
  margin-bottom: 8px;
}

.button {
  margin-top: 40px;
  margin-bottom: 86px;
}