.wrapper {
	display: flex;
	align-items: center;

	height: 59px;
	margin: 24px 8px 0;
	padding: 0 18px;

	letter-spacing: 0.01px;

	color: var(--white);
	border-radius: 49px;
	background-color: var(--dark-grey);

	font-family: "Poppins", sans-serif;
	font-size: 16px;
}
.imageWrapper {
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;

	padding: 3px;

	border-radius: 50%;
	background: black;
}

.text {
	margin: 0 12px 0 8px;
}

.priceText {
	margin-right: 12px;
	display: flex;
	align-items: center;

	span {
		margin-left: 8px;
	}
}

.cross {
	display: flex;
	align-items: center;

	cursor: pointer;
}
