.wrapper {
	width: fit-content;
	min-width: 264px;

	letter-spacing: 0.02px;

	color: #FFFFFF;
	border-radius: 16px;
	background: #2F2F2F 0% 0% no-repeat padding-box;

	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.option {
	display: flex;
	align-items: center;

	box-sizing: border-box;
	height: 51px;
	padding: 16px;

	cursor: pointer;

	border-bottom:1px solid var(--dark-grey);
}

.option:last-child {
	border-bottom: none;
}

.text {
	margin-left: 12px;
}