.wrapper {
	display: flex;
	overflow: hidden;
	flex-direction: column;

	width: 246px;
	min-width: 246px;
	height: fit-content;

	opacity: 1;
	border: 1px solid #617BFF;
	border-radius: 30px;
	background: #282829 0% 0% no-repeat padding-box;
}

.imageWrapper {
	position: relative;

	overflow: hidden;

	width: 246px;
	height: 231px;

	border-radius: 30px;
}

.errorImage {
	width: 100%;
	height: 100%;

	background-color: black;
}

.infoWrapper {
	padding-top: 28px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.title {
	margin-top: 0;
	margin-bottom: 10px;

	color: white;

	font-family: sans-serif;
	font-size: 20px;
}

.text {
	color: white;

	font-family: sans-serif;
	font-size: 14px;
	line-height: 28px;
}

.tagsContainer {
	display: flex;
}

.tag {
	width: fit-content;
	margin-right: 10px;
	padding: 3px 6px;

	color: rgb(40 40 41);
	border-radius: 8px;
	background-color: rgb(137 141 150);

	font-family: sans-serif;
	font-size: 10px;
}

.tag:last-child {
	margin-right: 0;
}
