.cross {
	margin-left: auto;

	cursor: pointer;
}

.crossBox {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 56px;
	height: 56px;
	margin-top: 16px;

	cursor: pointer;

	border: 1px solid var(--shadow);
	border-radius: 7px;
}

.footer button {
	display: flex;

	margin: 24px 24px 24px auto;
}

.marginLeft4 {
	margin-left: 4px;
}

.marginTop4 {
	margin-top: 4px;
}

.link {
	cursor: pointer;

	color: var(--primary);
}

.section {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 24px;

	letter-spacing: 0.02px;

	color: var(--white);

	border-bottom: 1px solid var(--dark-grey);

	font-size: 18px;
	font-weight: 600;
}

.tokenFileWrapper {
	position: relative;

	overflow: hidden;

	width: 70px;
	height: auto;

	border: 1px solid #707070;

	border-radius: 8px;
}

.tokenInfoWrapper {
	display: flex;
	align-items: center;
}

.tokenNameWrapper {
	margin-left: 16px;
}

.video {
	position: absolute;
	top:0;

	max-width: 70px;
}

.audio {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	height: 100%;
}

.greySmallText {
	display: flex;
	align-items: center;

	letter-spacing: 0.01px;

	color: var(--light-grey);

	font-size: 16px;
}

.whiteText {
	display: flex;
	align-items: center;

	letter-spacing: 0.02px;

	color: var(--white);

	font-size: 18px;
	font-weight: 600;
}

.bigWhiteText {
	display: flex;
	align-items: center;

	letter-spacing: 0.02px;

	color: var(--white);

	font-size: 24px;
	font-weight: 600;
	line-height: 33px;
}

.spinner {
	position: relative;
	left: 50%;

	width: fit-content;

	transform: translate(-50%);
}

.priceWrapper {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.marginBottom16 {
	margin-bottom: 16px;
}

.columnDown {
	align-items: flex-end;
}

.feeDataWrapper {
	display: flex;
	align-items: flex-end;
	flex-direction: column;

	height: 100%;
}

