.wrapper {
  font-family: 'Poppins', sans-serif;
}

.chooseSectionWrapper {
  display: flex;

  border-bottom: 1px solid var(--dark-grey);
}

.chooseSection {
  display: flex;
  align-items: center;

  padding: 40px;

  cursor: pointer;
  letter-spacing: 0.01px;

  color: var(--light-grey);

  font-size: 16px;

  span {
    margin-left: 8px;
  }
}

.chooseSectionActive {
  color: var(--purple);
  box-shadow: 0px -8px 0px -4px var(--purple) inset;

  svg {
    fill: var(--purple);
    stroke: var(--purple);
  }
}

.bottomSideWrapper {
  display: flex;
}

.rightBottomSide {
  overflow: visible;

  width: 100%;
  padding: 2%;
}

.topFiltrationSection {
  width: inherit;
}

.tokensGrid {
  display: grid;
  overflow: visible !important;

  padding: 20px 0;
}

.tokensGridSmall {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;

  @media screen and (max-width: 1550px) {
    gap: 40px;
  }

  @media screen and (max-width: 1400px) {
    gap: 35px;
  }
}

.tokensGridLarge {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;

  @media screen and (max-width: 1550px) {
    gap: 40px;
  }

  @media screen and (max-width: 1400px) {
    gap: 35px;
  }
}

.emptyTokens {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 337px;

  letter-spacing: 0.02px;

  color: var(--white);
  border: 1px solid var(--dark-grey);
  border-radius: 30px;

  font-size: 24px;
}

.activitiesHead {
  padding: 18px;
  color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-grey);

  div {
    font: normal normal 600 18px/33px Poppins;
    letter-spacing: 0.02px;
    color: #ffffff;
  }
}

.activityRow {
  padding: 18px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.activityRow:hover {
  background-color: var(--dark-grey);
}

.eventType,
.priceInfo,
.quantity,
.from,
.to,
.time {
  font: normal normal 600 16px Poppins;
  letter-spacing: 0.01px;
  width: 85px;
  text-align: center;
}

.from,
.to,
.time {
  font: normal normal medium 18px Poppins;
  letter-spacing: 0.02px;
  color: var(--primary);
  cursor: pointer;
}

.eventType {
  text-align: left;
  width: 90px;
  display: flex;
  align-items: center;

  span:last-child {
	  margin-left: 8px;
  }
}

.time {
  width: 9.8%;
  display: flex;
  align-items: center;
}

.from, .to {
	width: 8%;
}

.itemInfo {
  width: 26%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  div:last-child {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
	overflow: hidden;

    span:first-child {
      font: normal normal normal 16px Poppins;
      letter-spacing: 0.01px;
      color: var(--light-grey);
    }

    span:last-child {
      font: normal normal 600 18px Poppins;
      letter-spacing: 0.02px;
      color: var(--white);
    }
  }
}

.priceInfo {
  text-align: right;
  display: flex;
  flex-direction: column;

  .usdPrice {
    font: normal normal normal 16px Poppins;
    letter-spacing: 0.01px;
    color: var(--light-grey);
  }
}

.activityImageWrapper {
  position: relative;
  min-width: 63px;
  height: 63px;
  border: 1px solid #707070;
  border-radius: 8px;
}

.currency {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
