.wrapper {
  font-family: "Poppins", sans-serif;
}

.chooseSectionWrapper {
  display: flex;

  border-bottom: 1px solid var(--dark-grey);
}

.chooseSection {
  display: flex;
  align-items: center;

  padding: 40px;

  cursor: pointer;
  letter-spacing: 0.01px;

  color: var(--light-grey);

  font-size: 16px;

  span {
    margin-left: 8px;
  }
}

.chooseSectionActive {
  color: var(--purple);
  box-shadow: 0px -8px 0px -4px var(--purple) inset;

  svg {
    fill: var(--purple);
    stroke: var(--purple);
  }
}

.bottomSideWrapper {
  display: flex;
}

.rightBottomSide {
  width: 100%;
  padding: 2%;
}

.topFiltrationSection {
  width: inherit;
}

.tokensGrid {
  display: grid;

  padding: 40px 0;
}

.tokensGridSmall {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;

  @media screen and (max-width: 1550px) {
    gap: 40px;
  }

  @media screen and (max-width: 1400px) {
    gap: 35px;
  }
}

.tokensGridLarge {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;

  @media screen and (max-width: 1550px) {
    gap: 40px;
  }

  @media screen and (max-width: 1400px) {
    gap: 35px;
  }
}

.emptyTokens {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 337px;
  margin-top: 40px;

  letter-spacing: 0.02px;

  color: #ffffff;
  border: 1px solid var(--dark-grey);
  border-radius: 30px;

  font-size: 24px;
}

.activitiesHead {
  padding-bottom: 40px;
}

.activityRow,
.activitiesHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.02px;
  color: var(--white);
}

.activityRow {
  padding: 24px 0;
}

.activity {
  font-size: 16px;
}

.activityRow:hover {
  background-color: #2f2f2f;
}

.actionColumn {
  display: flex;
  align-items: center;
  width: calc(95px + 2.8%);
  text-align: left;
  padding-left: 2.8%;

  span {
    margin-left: 12px;
  }
}

.itemDisplayFlex {
  display: flex;
}

.tokenInfoWrapper {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemImageWrapper {
  height: 63px;
  width: 63px;

  border: 1px solid #707070;
  border-radius: 8px;
  position: relative;
}

.activityRowCollectionName {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.01px;
  color: var(--light-grey);
}

.activityRowEthPriceWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    margin-left: 4px;
  }
}

.itemColumn {
  width: 22.17%;
  text-align: left;
}

.priceColumn {
  width: 90px;
  text-align: right;
}

.quantityColumn {
  width: 80px;
}

.fromColumn,
.toColumn {
  width: 120px;
}

.timeColumn {
  width: 160px;
}
