.wrapper {
  display: flex;
  align-items: center;

  width: fit-content;
  min-width: 400px;
  padding: 26px 24px;

  letter-spacing: 0.02px;

  color: var(--white);
  border-radius: 16px;
  background: #2f2f2f 0% 0% no-repeat padding-box;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.icon {
  cursor: pointer;
}

.text {
  position: relative;
  bottom: 3px;

  display: flex;
  justify-content: space-between;

  width: 100%;

  margin-left: 8px;
}

.text span {
  margin-right: 8px;
}
