.wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	margin-bottom: 24px;
}

.switch {
	display: flex;

	letter-spacing: 0.01px;

	color: var(--light-grey);

	font-size: 16px;

	> span {
		margin-right: 8px;
	}
}

.settingsButton {
	height: 49px;
	margin-left: 1.5%;

	cursor: pointer;

	border: 1px solid var(--shadow);
	border-radius: 7px;
	aspect-ratio: 1 / 1;
}
