.wrapper {
	display: flex;
	flex-direction: column;
}

.category {
	display: flex;
	align-items: center;

	box-sizing: border-box;
	width: 200px;
	height: 51px;
	padding: 16px 0 16px 16px;

	transition: 0.2s;

	border-bottom: 1px solid var(--dark-grey);
	background: #1D1D1D 0% 0% no-repeat padding-box;
}

.category:first-child {
	border-radius: 16px 16px 0px 0px;
}

.category:last-child {
	border-bottom: none;
	border-radius: 0px 0px 16px 16px;
}

.icon {
	position: relative;

	width: 19px;
	height: 19px;
}

.text {
	margin-left: 12px;

	letter-spacing: 0.02px;

	color: #FFFFFF;

	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 600;
}
