html,
body {
	margin: 0;
	padding: 0;

	background-color: black;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--primary: #617BFF;
	--dark-grey: #282829;
	--light-grey: #898D96;
	--white:#FFF;
	--black: #000;
	--azur: #00EAF4;
	--red: #FF3856;
	--purple: #FC3AAA;
	--shadow: #FFFFFF4D;
}