.wrapper {
  position: relative;
  z-index: 5;

  overflow: hidden;

  width: 781px;
  aspect-ratio: 1 / 0.79;

  opacity: 0.84;
  border: 1px solid var(--primary);
  border-radius: 30px;
  background: var(--black);
  box-shadow: 0 3px 50px var(--black);
}

.errorImage {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: var(--black);
}

.forGradient {
  position: absolute;

  width: 100%;
  height: 100%;

  background: transparent linear-gradient(180deg, #0000 0%, #0000 43%, #0000009a 67%, #000 100%) 0% 0%
    no-repeat padding-box;
}

.infoWrapper {
  position: absolute;
  position: inherit;
  z-index: 10;
  top: 35%;
  left: 66%;

  width: 185px;

  color: var(--white);
}

.title {
  margin: 0;

  letter-spacing: 0;

  opacity: 1;
  color: var(--white);
  text-shadow: 0 2px 10px #000000d1;

  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 42px;
}

@media screen and (max-width: 1375px) {
  .title {
    font-size: 24px;
    line-height: 35px;
  }

  .infoWrapper {
    text-align: right;
  }
}

.upperCaseText {
  margin: 0;

  letter-spacing: 0.8px;
  text-transform: uppercase;

  opacity: 1;
  color: var(--white);
  text-shadow: 0 2px 10px #000000d1;

  font-family: sans-serif;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 33px;
}

.discount {
  margin-top: 0;

  letter-spacing: 0.8px;

  opacity: 1;
  color: var(--white);
  text-shadow: 0 2px 10px #000000d1;

  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 33px;
}
