.wrapper {
	display: flex;
	overflow: hidden;

	width: 449px;
	height: 285px;

	opacity: 1;
	border: 1px solid var(--primary);
	border-radius: 30px;
	background: var(--dark-grey) 0% 0% no-repeat padding-box;
	box-shadow: 0 3px 20px #000000C9;
}

.imageWrapper {
	position: relative;

	overflow: hidden;

	width: 246px;
	height: 100%;

	border-radius: 30px;
	background-color: var(--black);
}

.errorImage {
	width: 100%;
	height: 100%;

	background-color: var(--black);
}

.title {
	margin-top: 0;
	margin-bottom: 0;

	letter-spacing: 0.9px;

	opacity: 1;
	color: var(--white);

	font-family: Poppins, sans-serif;
	font-size: 18px;
}

.availible {
	margin: 0;
	margin-bottom: 14px;

	text-align: left;
	letter-spacing: 0.6px;

	opacity: 1;
	color: var(--white);

	font-family: Poppins, sans-serif;
	font-size: 12px;
	font-style: italic;
}

.tag {
	margin-bottom: 18px;
}

.chart {
	width: 100%;
	margin-top: 12px;
	margin-bottom: 8px;
}

.priceDiffAndLastUpdate {
	display: flex;
	align-items: flex-end;
}

.lastUpdate {
	margin: 0;
	margin-left: 10px;

	letter-spacing: 0.6px;

	color: var(--white);

	font-family: Poppins, sans-serif;
	font-size: 12px;
	font-style: italic;
	line-height: 33px;
}

.infoWrapper {
	width: 223px;
	padding-top: 20px;
	padding-right: 22px;
	padding-bottom: 15px;
	padding-left: 26px;
}

.priceAndTime {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.priceDifferenceInfo {
	display: flex;
	justify-content: space-between;

	line-height: 33px;
}

.time {
	width: fit-content;
	margin: 0;

	color: rgb(255 24 84);

	font-family: sans-serif;
	font-size: 17px;
	font-weight: 900;
}

.usernameAndViews {
	display: flex;
	justify-content: space-between;

	margin-top: 10px;
	margin-bottom: 4px;
}

.username {
	margin-top: 5px;

	color: rgb(0 234 244);

	font-family: sans-serif;
	font-size: 12px;
}
