.wrapper {
    display: flex;
    width: 449px;
    height: 285px;
    overflow: hidden;
    background: #282829 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #000000C9;
    border: 1px solid #617BFF;
    border-radius: 30px;
    opacity: 1;
}

.imageWrapper {
    height: 100%;
    width: 246px;
    border-radius: 30px;
    overflow: hidden;
}

.errorImage {
    background-color: black;
    height: 100%;
    width: 100%;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 0px;
    letter-spacing: 0.9px;
    color: #FFFFFF;
    opacity: 1;
}

.availible {
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin: 0;
    margin-bottom: 14px;
    text-align: left;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    opacity: 1;
}

.tag {
    margin-bottom: 20px;
}

.chart {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.priceDiffAndLastUpdate {
    display: flex;
    align-items: flex-end;
}

.lastUpdate {
    margin: 0;
    margin-left: 10px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 33px;
    font-style: italic;
    letter-spacing: 0.6px;
}

.infoWrapper {
    padding-left: 26px;
    padding-right: 22px;
    padding-bottom: 15px;
    padding-top: 20px;
    width: 156px;
}

.priceAndTime {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceDifferenceInfo {
    display: flex;
    justify-content: space-between;
    line-height: 33px;
}

.time {
    width: fit-content;
    margin: 0;
    color: rgb(255, 24, 84);
    font-weight: 900;
    font-family: sans-serif;
    font-size: 17px;
}

.usernameAndViews {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 4px;
}

.username {
    color: rgb(0, 234, 244);
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 5px;
}